<!DOCTYPE html>
<html>
  <head>
    <title><%= titulo %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= titulo %></h1>
    <p>Bienvenidos a mi Blog</p>
    <p>Autor: <%= autor %></p>

  </body>
</html>
